{{> base}}
<div class="p-4">
  <div class="w-50 m-auto">
    <h1>{{ pageTitle }}</h1>
    {{ #errors }}
    <p>{{ param }}: {{ msg }}</p>
    {{ /errors}}
    <form
      action="{{ formActionUrl }}"
      method="post"
      class="d-flex flex-column"
    >
      <input
        type="text"
        name="title"
        class="p-1"
        placeholder="Title"
        class="mb-2"
        value="{{ article.title }}"
      />
      <label class="mt-3" for="text"> Content </label>
      <textarea id="text" rows="10" name="text">{{ article.text }}</textarea>
      <button type="submit" class="mt-1">Submit</button>
    </form>
  </div>
</div>
