{{> base}}

<div class="w-50 m-auto text-center">
  <form action="/users/signin" method="post" class="mt-5">
    {{# errors }}
    <p>{{ param }}: {{ msg }}</p>
    {{/ errors}}
    <div class="mb-2">
      <input
        type="text"
        placeholder="username"
        name="username"
      />
    </div>
    <div class="mb-2">
      <input
        type="password"
        placeholder="password"
        name="password"
      />
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
